<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="kr.co.hecorea.adm.dao.AdmDAO">
    <select id="getTableInfo" parameterType="hashmap" resultType="hashmap">
		SELECT A.OWNER, A.TABLE_NAME, B.COMMENTS, A.COLUMN_NAME
		     , CASE WHEN A.DATA_TYPE = 'DATE' THEN DATA_TYPE
		                WHEN A.DATA_TYPE = 'NUMBER' THEN 'NUMERIC(' || A.DATA_PRECISION || ',' || A.DATA_SCALE || ')'  
		            ELSE 'VARCHAR' || '(' || A.DATA_LENGTH || ')' END DATATYPE
		     , CASE WHEN A.NULLABLE = 'N' THEN 'NOT NULL' ELSE 'NULL' END NULLABLE
		     , CASE WHEN C.COLUMN_NAME IS NOT NULL THEN 'PK' END PK
		  FROM SYS.ALL_TAB_COLS A
		     , SYS.ALL_COL_COMMENTS B
		     , (SELECT B.TABLE_NAME, B.COLUMN_NAME
		          FROM ALL_CONSTRAINTS A
		             , ALL_CONS_COLUMNS B
		         WHERE A.TABLE_NAME = B.TABLE_NAME
		           AND A.CONSTRAINT_NAME = B.CONSTRAINT_NAME
		           AND A.CONSTRAINT_TYPE ='P'
		           AND A.OWNER = #{userName}
		           AND B.OWNER = #{userName}
		       ) C
		 WHERE A.TABLE_NAME = B.TABLE_NAME 
		   AND A.COLUMN_NAME = B.COLUMN_NAME
		   AND A.TABLE_NAME = C.TABLE_NAME(+)
		   AND A.COLUMN_NAME = C.COLUMN_NAME(+)
		   AND A.OWNER = #{userName}
		   AND A.TABLE_NAME = #{tableName}
		 ORDER BY A.TABLE_NAME, A.COLUMN_ID
	</select>

	<select id="getTableInfoByUserTable" parameterType="hashmap" resultType="hashmap" >	
	 SELECT ROWNUM,T1.OWNER,
	         T1.TABLE_NAME,
	         T2.COMMENTS,
	         T1.TABLESPACE_NAME,
	         T1.NUM_ROWS,
	         T1.AVG_ROW_LEN,
	         RTRIM (TO_CHAR (T1.INITIAL_EXTENT / 1024 / 1204, 'FM999990D99'), '.')
	            AS MB,
	            T1.LAST_ANALYZED
	    FROM dba_TABLES T1 , dba_TAB_COMMENTS T2
	   WHERE 1=1
	   and  T1.TABLE_NAME = T2.TABLE_NAME 
	   and  T1.TABLE_NAME = #{tableName}
	   and  T1.OWNER = T2.OWNER 
	   and  T1.OWNER = #{userName}
	ORDER BY T1.TABLE_NAME
	</select>
	
	
	<select id="getLoginLog"  resultType="hashmap" >	
	  SELECT user_id, user_log_date, user_log_ip
	    FROM SWG_USER_LOG
	   WHERE 1 = 1 
	     AND ROWNUM &lt; 10
	ORDER BY user_log_date DESC	
	</select>
	<select id="getOracleSession"  resultType="hashmap" >	
	  SELECT username,
	         schemaname,
	         osuser,
	         machine,
	         program,
	         TYPE,
	         logon_time,
	         service_name,sysdate
	    FROM v$session
	   WHERE TYPE = 'USER'
	ORDER BY logon_time DESC
	</select>
	<select id="getOracleLock"  resultType="hashmap" >	
	SELECT  DO.OBJECT_NAME, DO.OWNER, DO.OBJECT_TYPE as TYPE, DO.OWNER,
	        VO.XIDUSN, VO.SESSION_ID, VO.LOCKED_MODE,
	        VO.OS_USER_NAME
	FROM    V$LOCKED_OBJECT VO, DBA_OBJECTS DO
	WHERE   VO.OBJECT_ID = DO.OBJECT_ID
	</select>
	<select id="getOracleLock02"  resultType="hashmap" >	
		SELECT   distinct x.session_id,  a.serial#,
		  d.object_name,  a.machine,  a.terminal,
		  a.program,  b.address,  b.piece,  b.sql_text
		FROM  v$locked_object x,  v$session a,  v$sqltext b,  dba_objects d
		WHERE  x.session_id = a.sid  and
		  x.object_id = d.object_id  and
		  a.sql_address = b.address  
		order by b.address,b.piece
	</select>
	<select id="getOracleLock03"  resultType="hashmap" >	
	SELECT DISTINCT X.SESSION_ID as SESSION_ID , A.SERIAL# As SERIAL, D.OBJECT_NAME, A.MACHINE, A.TERMINAL,
       A.PROGRAM, A.LOGON_TIME, 'ALTER SYSTEM KILL SESSION'''||A.SID||', '||A.SERIAL#||''';'  AS SQL
	FROM GV$LOCKED_OBJECT X, GV$SESSION A, DBA_OBJECTS D
	WHERE  X.SESSION_ID = A.SID AND X.OBJECT_ID = D.OBJECT_ID
	ORDER BY LOGON_TIME
	</select>

	<select id="getOracleInfo01"  resultType="hashmap" >
	SELECT INSTANCE_NAME,
	       HOST_NAME,
	       VERSION,
	       STARTUP_TIME,
	       STATUS
	  FROM V$INSTANCE	
	</select>
	<select id="getOracleInfo02"  resultType="hashmap" >
	SELECT NAME, CREATED, PLATFORM_NAME 
	  FROM V$DATABASE	
	</select>
</mapper>