<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="kr.co.hecorea.adm.dao.AdmDAO">
    <select id="getTableInfo" parameterType="hashmap" resultType="hashmap">
		SELECT A.OWNER, A.TABLE_NAME, B.COMMENTS, A.COLUMN_NAME
		     , CASE WHEN A.DATA_TYPE = 'DATE' THEN DATA_TYPE
		                WHEN A.DATA_TYPE = 'NUMBER' THEN 'NUMERIC(' || A.DATA_PRECISION || ',' || A.DATA_SCALE || ')'  
		            ELSE 'VARCHAR' || '(' || A.DATA_LENGTH || ')' END DATATYPE
		     , CASE WHEN A.NULLABLE = 'N' THEN 'NOT NULL' ELSE 'NULL' END NULLABLE
		     , CASE WHEN C.COLUMN_NAME IS NOT NULL THEN 'PK' END PK
		  FROM SYS.ALL_TAB_COLS A
		     , SYS.ALL_COL_COMMENTS B
		     , (SELECT B.TABLE_NAME, B.COLUMN_NAME
		          FROM ALL_CONSTRAINTS A
		             , ALL_CONS_COLUMNS B
		         WHERE A.TABLE_NAME = B.TABLE_NAME
		           AND A.CONSTRAINT_NAME = B.CONSTRAINT_NAME
		           AND A.CONSTRAINT_TYPE ='P'
		           AND A.OWNER = #{userName}
		           AND B.OWNER = #{userName}
		       ) C
		 WHERE A.TABLE_NAME = B.TABLE_NAME 
		   AND A.COLUMN_NAME = B.COLUMN_NAME
		   AND A.TABLE_NAME = C.TABLE_NAME(+)
		   AND A.COLUMN_NAME = C.COLUMN_NAME(+)
		   AND A.OWNER = #{userName}
		   AND A.TABLE_NAME = #{tableName}
		 ORDER BY A.TABLE_NAME, A.COLUMN_ID
	</select>

	<select id="getTableInfoByUserTable" parameterType="hashmap" resultType="hashmap" >	
	 SELECT ROWNUM,T1.OWNER,
	         T1.TABLE_NAME,
	         T2.COMMENTS,
	         T1.TABLESPACE_NAME,
	         T1.NUM_ROWS,
	         T1.AVG_ROW_LEN,
	         RTRIM (TO_CHAR (T1.INITIAL_EXTENT / 1024 / 1204, 'FM999990D99'), '.')
	            AS MB,
	            T1.LAST_ANALYZED
	    FROM dba_TABLES T1 , dba_TAB_COMMENTS T2
	   WHERE 1=1
	   and  T1.TABLE_NAME = T2.TABLE_NAME 
	   and  T1.TABLE_NAME = #{tableName}
	   and  T1.OWNER = T2.OWNER 
	   and  T1.OWNER = #{userName}
	ORDER BY T1.TABLE_NAME
	</select>
	
	
	<select id="getLoginLog"  resultType="hashmap" >	
	  SELECT user_id, user_log_date, user_log_ip
	    FROM SWG_USER_LOG
	   WHERE 1 = 1 
	     AND ROWNUM &lt; 10
	ORDER BY user_log_date DESC	
	</select>
	<select id="getOracleSession"  resultType="hashmap" >	
	  SELECT username,
	         schemaname,
	         osuser,
	         machine,
	         program,
	         TYPE,
	         logon_time,
	         service_name,sysdate
	    FROM v$session
	   WHERE TYPE = 'USER'
	   and status ='ACTIVE'
	ORDER BY logon_time DESC
	</select>
	<select id="getOracleLock"  resultType="hashmap" >	
	SELECT  DO.OBJECT_NAME, DO.OWNER, DO.OBJECT_TYPE as TYPE, DO.OWNER,
	        VO.XIDUSN, VO.SESSION_ID, VO.LOCKED_MODE,
	        VO.OS_USER_NAME
	FROM    V$LOCKED_OBJECT VO, DBA_OBJECTS DO
	WHERE   VO.OBJECT_ID = DO.OBJECT_ID
	</select>
	<select id="getOracleLock02"  resultType="hashmap" >	
		SELECT   distinct x.session_id,  a.serial#,
		  d.object_name,  a.machine,  a.terminal,
		  a.program,  b.address,  b.piece,  b.sql_text
		FROM  v$locked_object x,  v$session a,  v$sqltext b,  dba_objects d
		WHERE  x.session_id = a.sid  and
		  x.object_id = d.object_id  and
		  a.sql_address = b.address  
		order by b.address,b.piece
	</select>
	<select id="getOracleLock03"  resultType="hashmap" >	
	SELECT DISTINCT X.SESSION_ID as SESSION_ID , A.SERIAL# As SERIAL, D.OBJECT_NAME, A.MACHINE, A.TERMINAL,
       A.PROGRAM, A.LOGON_TIME, 'ALTER SYSTEM KILL SESSION'''||A.SID||', '||A.SERIAL#||''';'  AS SQL
	FROM GV$LOCKED_OBJECT X, GV$SESSION A, DBA_OBJECTS D
	WHERE  X.SESSION_ID = A.SID AND X.OBJECT_ID = D.OBJECT_ID
	ORDER BY LOGON_TIME
	</select>

	<select id="getOracleInfo01"  resultType="hashmap" >
	SELECT INSTANCE_NAME,
	       HOST_NAME,
	       VERSION,
	       STARTUP_TIME,
	       STATUS
	  FROM V$INSTANCE	
	</select>
	<select id="getOracleInfo02"  resultType="hashmap" >
	SELECT NAME, CREATED, PLATFORM_NAME 
	  FROM V$DATABASE	
	</select>
	

	<select id="getTablebyComments"  resultType="hashmap" >
	 SELECT ROWNUM,T1.OWNER,
	         T1.TABLE_NAME,
	         T2.COMMENTS,
	         T1.TABLESPACE_NAME,
	         T1.NUM_ROWS,
	         T1.AVG_ROW_LEN,
	         RTRIM (TO_CHAR (T1.INITIAL_EXTENT / 1024 / 1204, 'FM999990D99'), '.')
	            AS MB,
	            T1.LAST_ANALYZED
	    FROM dba_TABLES T1 , dba_TAB_COMMENTS T2
	   WHERE 1=1
	   and  T1.TABLE_NAME = T2.TABLE_NAME 
	   and  T1.OWNER = T2.OWNER 
	   and T1.owner IN
	            (SELECT username
	               FROM dba_users
	              WHERE     1 = 1
	                    )
	    AND T2.COMMENTS like  '%' || #{COMMENTS} || '%'           
	ORDER BY T1.TABLE_NAME
	</select>	
	
	<select id="getE3101_1"  resultType="hashmap" >
	SELECT 
	CUST_ID, CUST_TP_ID, MTR_READ_TP_CD, 
	   CUST_MNGM_ID, CUST_NM, CUST_PHN, 
	   CUST_ADDR, CUST_STR_ADDR, LOC_RMK, 
	   TAX_CUST_ID, GIS_CUST_ID, GIS_CRDN_X, 
	   GIS_CRDN_Y, RMK, UPD_DT, 
	   UPD_USR_ID, DVC_MTR_ID
	FROM LEOTEK.CUST_MT
	order by cust_id
	</select>	
	<select id="getE3102_1"  parameterType="hashmap" resultType="hashmap" >	
	SELECT PLT_ID,
	       BLK_ID,
	       DVC_MTR_ID,
	       WRK_DT,
	       ITGF_S,
	       ITGF_E,
	       MTR_SPL,
	       BASE_ITGF_S,
	       BASE_ITGF_E,
	       BASE_MTR_SPL,
	       UPD_DT,
	       UPD_USR_ID,
	       (select count(rownum) FROM LEOTEK.MTR_40HT_DAY where  WRK_DT = #{workdt} ) CNT
	  FROM LEOTEK.MTR_40HT_DAY
	 WHERE 1 = 1
	 AND  WRK_DT = #{workdt}
	</select>	
	<select id="getE3103_1"  parameterType="hashmap" resultType="hashmap" >	
	SELECT 
	DVC_MTR_ID, PLT_ID, BLK_ID, 
	   DVC_MTR_TP_CD, DVC_MTR_MDL_ID, CMC_TP_CD, 
	   RUN_STATE_CD, IST_VND_ID, DVC_MTR_NM, 
	   DVC_MTR_SRNO, IST_DT, IST_ADDR, 
	   LOC_RMK, GIS_DVC_MTR_ID, GIS_CRDN_X, 
	   GIS_CRDN_Y, INFO_PNL1_CRND_X, INFO_PNL1_CRND_Y, 
	   INFO_PNL2_CRND_X, INFO_PNL2_CRND_Y, ASL, 
	   DRT, SLP, RMK, 
	   UPD_DT, UPD_USR_ID,
	       (select count(rownum) FROM LEOTEK.DVC_MTR_MT  ) CNT
	FROM LEOTEK.DVC_MTR_MT
	order by DVC_MTR_ID	
	</select>
	
	<select id="getE3104_1"  parameterType="hashmap" resultType="hashmap" >	
	SELECT 
	PLT_ID, BLK_ID, DVC_MTR_ID, 
	   WRK_DT, ITGF_S, ITGF_E, 
	   MTR_SPL, DN_MTR_SPL, SPL, 
	   ITGF_RVS, ITGF_FRNT, MNTF, 
	   MNTF_MX, MNTF_AVG, MNTF_MN, 
	   WAPR, WAPR_MX, WAPR_AVG, 
	   WAPR_MN, VLT, VLT_MX, 
	   VLT_AVG, VLT_MN, BASE_ITGF_S, 
	   BASE_ITGF_E, BASE_MTR_SPL, BASE_DN_MTR_SPL, 
	   BASE_SPL, BASE_ITGF_RVS, BASE_ITGF_FRNT, 
	   BASE_MNTF, BASE_MNTF_MX, BASE_MNTF_AVG, 
	   BASE_MNTF_MN, BASE_WAPR, BASE_WAPR_MX, 
	   BASE_WAPR_AVG, BASE_WAPR_MN, BASE_VLT, 
	   BASE_VLT_MX, BASE_VLT_AVG, BASE_VLT_MN, 
	   DN_BLK_CNT, UPD_DT, UPD_USR_ID
	FROM LEOTEK.MTR_10HT_DAY
	where wrk_dt = #{workdt}	
	</select>
	

	<select id="getE3105_1"  parameterType="hashmap" resultType="hashmap" >	
	SELECT 
	PLT_ID, BLK_ID, DVC_MTR_ID, 
	   WRK_DT, WAPR, WAPR_MX, 
	   WAPR_AVG, WAPR_MN, BASE_WAPR, 
	   BASE_WAPR_MX, BASE_WAPR_AVG, BASE_WAPR_MN, 
	   UPD_DT, UPD_USR_ID,
	       (select count(rownum) FROM LEOTEK.MTR_20HT_DAY where wrk_dt = #{workdt} ) CNT
	FROM LEOTEK.MTR_20HT_DAY
	where wrk_dt = #{workdt}
	</select>	
	
	<select id="e2101Sub01"  parameterType="hashmap" resultType="hashmap" >
	  SELECT DT,
	         GWID,
	         LVL,
	         PWR,
	         (SELECT COUNT (dt)
	            FROM ICUH.UNGWREAL
	           WHERE TO_CHAR (dt, 'yyyymmdd') = #{workdt}	)
	            CNT
	    FROM ICUH.UNGWREAL
	   WHERE 1 = 1 AND TO_CHAR (dt, 'yyyymmdd') = #{workdt}	
	ORDER BY dt DESC
	</select>
	
	<select id="e2301Sub01"  parameterType="hashmap" resultType="hashmap" >	
	SELECT 
	BASEDATE, BASETIME, NX, 
	   NY, FCSTTIME, FCSTDATE, 
	   CATEGORY, RESULTCODE, RESULTMSG, 
	   FCSTVALUE
	FROM SWG.KMA_FCSTSPACEDATA
	where basedate  = #{workdt}	
	ORDER BY BASETIME DESC
	</select>
	
	<select id="e2301Sub02"  parameterType="hashmap" resultType="hashmap" >	
	SELECT 
	RESULTCODE, RESULTMSG, REGID, 
	   TMFC, WF3AM, WF3PM, 
	   WF4AM, WF4PM, WF5AM, 
	   WF5PM, WF6AM, WF6PM, 
	   WF7AM, WF7PM, WF8, 
	   WF9, WF10
	FROM SWG.KMA_MIDLANDWEATHER
	where substr(TMFC,1,8) = #{workdt}	
	</select>
	
	
	

	
</mapper>