@charset "utf-8";
/* popup.css */
/* reset */
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, address, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, select, textarea{margin:0; padding:0;}
hr{display:none;}
ul, ol, li{list-style:none;}
img, fieldset{border:none;}
h1, h2, h3, h4, h5, h6{font-size:100%;}
table{border-collapse:collapse;}
address, em, optgroup{font-style:normal;}
object{vertical-align:top;}
input, button, select{vertical-align:middle;}
/* font */
body{color:#444; font-size:75%; font-family:"맑은 고딕","Malgun Gothic",dotum,"돋움",sans-serif;}
input, select, textarea{color:#444; font-size:100%; font-family:"맑은 고딕","Malgun Gothic",dotum,"돋움",sans-serif;}
/* linkStyle */
a{color:#333; text-decoration:none;}
a:hover, a:active, a:focus{color:#333; text-decoration:underline;}
/* skip */
.skip, legend, caption{position:absolute; left:-5000px; width:0; height:0; font-size:0; line-height:0; overflow:hidden;}
caption{position:static;}
/* globalLayout */
body{padding: 10px;}
#container, #footer{width:1024px; margin:0 auto;}
table{width:100%; margin-bottom: 10px;}
table td{padding: 4px 6px; font-size:12px; text-align: center;}
p{padding-bottom: 6px;}
table.table1{border: 2px solid #cee5b5;}
table.table1 td{padding: 4px 20px; border-bottom:1px solid #ddd; font-weight: bold; text-align: left;}
table.table1 td span{font-weight: bold;}
table.table1 td.th{border-right: 1px solid #cee5b5; border-left: 1px solid #cee5b5; background-color: #f5f9f1; font-weight: normal;}
